<style>
	.gc-word-high {
	color:black;
	font-size:19px;
}
</style>
<div class="appBackground"></div>
<div class="appHeader">
	<div class="title" id="convoname"></div>
	<div class="headerCall" id="callButton" onclick="callUser();"></div>
</div>
<div id="loader" x-mojo-element="Spinner" style="margin-left:auto; margin-right:auto; margin-top:50px;"></div>
<div x-mojo-element="Scroller" id="msgScroller" style="position:fixed; height:88%; width:100%;">
	<div id="msgs" style="width:310px; margin-left:auto; margin-right:auto; padding-top:45px; margin-top:5px; color:gray; font-size:15px;">
    </div>
</div>
<div style="position:fixed; bottom:0; left:0; width:100%;">

<audio id="voicemailAudio" preload="auto"></audio>
</div>