<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
    	<div class="icon" style="background-image:url(images/icon.png);"></div>
        <div class="title">
        	Preferences
        </div>
    </div>
</div>
<div style="height:88%; position:fixed; top:50px; width:320px; left:0;" x-mojo-element="Scroller" id="prefsscroller">
<div class="palm-group">
<div class="palm-group-title">Dialpad settings</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="dialpad-toggle"></div>
                <div class="title left truncating-text">Key Feedback</div>
            </div>
        </div>
    </div>
</div>
<!--<div class="palm-group">
<div class="palm-group-title">notification settings</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="notifications-toggle"></div>
                <div class="title left truncating-text">Notifications</div>
            </div>
        </div>
    </div>
</div>-->
<div class="palm-group">
<div class="palm-group-title">google voice number</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper">
                <div class="title left truncating-text" id="gvnum"></div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
<div class="palm-group-title">Account Settings</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                	<div id="clearCreds" x-mojo-element="Button"></div>
                </div>
            </div>
        </div>
    </div>
</div></div>
<!--<div class="palm-text-wrapper">
	<div class="palm-body-text" x-mojo-loc="">
    	
    </div>
    <div class="palm-body-text" style="color:red; font-size:small;" id="authError"></div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Email</div>
    <div class="palm-list">
    	<div class="palm-row single">
        	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            	<div class="title">
                	<div id="email" x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Password</div>
    <div class="palm-list">
    	<div class="palm-row single">
        	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            	<div class="title">
                	<div id="password" x-mojo-element="PasswordField"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div x-mojo-element="Button" id="nextButton"></div>-->