<!--
/*
 * Voogle2
 * Version 2.x of Voogle
 * Copyright 2011 - C2 Partners, LLC. DBA kandutech
 * THIS SOURCE CODE MAY NOT BE DISTRBUTED IN ANY WAY WITHOUT PERMISSION FROM C2 PARTNERS, LCC. DBA KANDUTECH.
 * DISTRIBUTING THIS SOURCE CODE WILL RESULT IN PROMPT LEGAL ACTION.
 * DEVELOPED BY: CONNOR LACOMBE & THE KANDUTECH TEAM.
 * FOR CONTACT INFORMATION VISIT: HTTP://KANDUTECH.COM
 */
-->
<div class="appBackground"></div>
<div class="appHeader">
	Setup Wizard
</div>
<div class="appContent">
	<div class="description">
		Login to your Google Account.
	</div>
	<div class="loginForm">
		<div style="font-size:small; text-align:center;">Note: Google 2-step authentication will NOT work.</div>
		<div class="errorText" id="errorMsg">The email or password you have entered is invalid.</div>
		<div class="palm-group">
			<div class="palm-group-title">Email</div>
		    <div class="palm-list">
		    	<div class="palm-row single">
		        	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		            	<div class="title">
		                	<div id="email" x-mojo-element="TextField"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="palm-group">
			<div class="palm-group-title">Password</div>
		    <div class="palm-list">
		    	<div class="palm-row single">
		        	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		            	<div class="title">
		                	<div id="password" x-mojo-element="PasswordField"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	<div x-mojo-element="Button" id="cont" style="width:220px; margin-left:auto; margin-right:auto;"></div>
	</div>
</div>
