<!--
/*
 * Voogle2
 * Version 2.x of Voogle
 * Copyright 2011 - C2 Partners, LLC. DBA kandutech
 * THIS SOURCE CODE MAY NOT BE DISTRBUTED IN ANY WAY WITHOUT PERMISSION FROM C2 PARTNERS, LCC. DBA KANDUTECH.
 * DISTRIBUTING THIS SOURCE CODE WILL RESULT IN PROMPT LEGAL ACTION.
 * DEVELOPED BY: CONNOR LACOMBE & THE KANDUTECH TEAM.
 * FOR CONTACT INFORMATION VISIT: HTTP://KANDUTECH.COM
 */
-->
<div class="appBackground"></div>
<div class="appHeader">
	Setup Wizard
</div>
<div class="appContent">
	<div class="description">
		Looks like we're all set! Ready to see your inbox?
	</div>
	<div class="loginForm">
		<div x-mojo-element="Button" id="goInbox" style="margin-top:50px;"></div>
	</div>
</div>
