<!--
/*
 * Voogle2
 * Version 2.x of Voogle
 * Copyright 2011 - C2 Partners, LLC. DBA kandutech
 * THIS SOURCE CODE MAY NOT BE DISTRBUTED IN ANY WAY WITHOUT PERMISSION FROM C2 PARTNERS, LCC. DBA KANDUTECH.
 * DISTRIBUTING THIS SOURCE CODE WILL RESULT IN PROMPT LEGAL ACTION.
 * DEVELOPED BY: CONNOR LACOMBE & THE KANDUTECH TEAM.
 * FOR CONTACT INFORMATION VISIT: HTTP://KANDUTECH.COM
 */
-->
<div class="appBackground"></div>
<div class="appHeader">
	<div class="title" id="convoname"></div>
	<div class="headerCall" id="callButton" onclick="callUser();"></div>
</div>
<div id="loader" x-mojo-element="Spinner" style="margin-left:auto; margin-right:auto; margin-top:50px;"></div>
<div x-mojo-element="Scroller" id="msgScroller" style="position:fixed; height:87%; width:100%;">
	<div id="msgs" style="width:310px; margin-left:auto; margin-right:auto; padding-top:45px; margin-top:5px;">
    </div>
</div>
<div style="position:fixed; bottom:0; left:0; width:100%;">
	<div class="palm-row single">
        <div class="palm-row-wrapper textfield-group" style="border-width: 15px; z-index:1; width:290px; min-height:25px; -webkit-border-image: url(images/textfield_bottom.png) 15 15 15 15 stretch stretch; position:fixed; bottom:0; left:0;" id="Asfgfds">
  <div x-mojo-element="TextField" id="smsMsg" class="title"></div>
  <div x-mojo-element="Spinner" id="smsMsgSending" style="float:right; margin-right:-1px; visibility:hidden; margin-top:-23px;"></div>
            </div>
            </div>
    </div>